.footer_main-container {
	background-color: #343434;
	padding: 0 0 5rem 0;
	hr {
		border: 0.1px solid grey;
		margin: 0.1rem 19rem 0 19rem;
	}
}
.footer_columns {
	display: flex;
	padding: 4rem 19rem;
	h2 {
		font-size: 0.95rem;
		font-weight: bolder;
		color: white;
		margin-bottom: 1rem;
	}
	p {
		color: gray;
		font-size: 0.87rem;
		line-height: 1.6rem;
		&:hover {
			text-decoration: underline;
			color: gray;
		}
	}
	.footer_col2 {
		margin-left: 5rem;
	}
	.footer_col3 {
		margin-left: 5rem;
	}
	.footer_col4 {
		margin-left: 5rem;
	}
	.footer_col5 {
		margin-left: 5rem;
	}
	.footer_col6 {
		margin-left: 5rem;
	}
}
.col1_social-logos {
	ul {
		display: flex;
		margin: 1rem 0 0 19rem;
		li {
			width: 1.8rem;
			height: 1rem;
			margin: 1rem 0.6rem;
			font-size: 0.1rem;
		}
	}
	a {
		width: auto;
	}
}
.ftr_terms {
	display: flex;
	padding: 1rem 19rem;
	p {
		color: gray;
		font-size: 0.8rem;
		line-height: 1.6rem;
		font-weight: bold;
		margin-left: 1rem;
		&:hover {
			text-decoration: underline;
			color: gray;
		}
	}
}
.footer_row {
	display: flex;
}
.ftr-row_col2 {
	ul {
		display: flex;
		margin: 1rem 0 0 14rem;
		color: white;
		li {
			width: 1.8rem;
			height: 1rem;
			margin: 1rem 0.6rem;
			font-size: 1rem;
			list-style: none;
			h3 {
				color: white;
				font-size: 1.1rem;
				font-weight: lighter;
				margin-left: -0.9rem;
				margin-top: 0.3rem;
			}
		}
	}
}
.ftr_cpy-right {
	font-size: 0.85rem;
	color: var(--whiteColour-30);
	margin-top: 5rem;
	margin-left: -47rem;
}
.ftr-pagename {
	padding: 0 14rem;
	font-size: 0.85rem;
	color: var(--whiteColour-30);
	margin-top: 0.1rem;
}
@media (max-width:768px) {
	.footer_columns {
		display: flex;
		flex-wrap: wrap;
		padding: 3rem 1rem;
		.footer_col2 {
			margin-left: 3rem;
		}
		.footer_col3 {
			margin-left: 0.1rem;
			margin-top: 2rem;
		}
		.footer_col4 {
			margin-left: 3rem;
			margin-top: 2rem;
		}
		.footer_col5 {
			margin-left: 0.1rem;
			margin-top: 2rem;
		}
		.footer_col6 {
			margin-left: 3rem;
			margin-top: 2rem;
		}
	}
	.footer_main-container {
		hr {
			margin: 0.1rem 1rem 0 1rem;
		}
	}
	.col1_social-logos {
		ul {
			display: flex;
			margin: 1rem 0 0 1rem;
		}
	}
	.ftr_terms {
		padding: 1rem 0.1rem;
		flex-wrap: wrap;
		width: 22rem;
	}
	.footer_row {
		display: grid;
	}
	.ftr-row_col2 {
		ul {
			margin: 0 0 0 4.2rem;
		}
	}
	.ftr_cpy-right {
		padding: 0 1rem;
		margin-top: 1.5rem;
		margin-left: 0;
	}
	.ftr-pagename {
		padding: 0 1rem;
		margin-top: 0.5rem;
	}
}
